/* ALL NEWS PAGE VIEW */
.cern-view-display-page.view-general-search > h2 {
  margin: 3rem 0 !important; }
.cern-view-display-page.view-general-search form.views-exposed-form .form-inline {
  margin: 0 -10px; }
  .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-item {
    vertical-align: top; }
    .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-item:first-child {
      display: block;
      text-align: center;
      position: relative; }
      .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-item:first-child > input {
        width: 98%;
        margin: 0 auto 15px auto;
        height: 40px;
        padding-left: 40px; }
      .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-item:first-child:before {
        content: 'O';
        font-family: "cern-icons";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        left: 8px;
        width: 25px;
        height: 25px;
        top: 8px;
        text-align: center;
        line-height: 21px;
        font-weight: 500;
        padding-right: 2px;
        font-size: 46px;
        color: #0855a0; }
    .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-item > input {
      display: block; }
    .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-item:not(:first-child) {
      width: calc(( 100% / 7) - 20px);
      margin: 10px; }
      .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-item:not(:first-child) input {
        width: 100%; }
      .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-item:not(:first-child) div.select-wrapper select {
        width: 100%; }
  .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-actions {
    width: calc(( 100% / 7) - 40px);
    margin: 10px;
    vertical-align: bottom;
    text-align: right; }
    .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-actions button {
      width: 100%; }
.cern-view-display-page.view-general-search .view-header {
  margin: 50px 0;
  text-transform: uppercase;
  font-family: "opensans-bold"; }
  .cern-view-display-page.view-general-search .view-header span.separator-search-tags {
    position: relative;
    top: -1px; }
  .cern-view-display-page.view-general-search .view-header a {
    position: relative; }
    .cern-view-display-page.view-general-search .view-header a:first-child {
      margin-left: 10px; }
    .cern-view-display-page.view-general-search .view-header a.active:after {
      content: ' ';
      position: absolute;
      width: 100%;
      height: 2px;
      background: #0855a0;
      bottom: -2px;
      left: 0; }

@media only screen and (max-width: 991px) {
  .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-item {
    display: inline-block; }
    .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-item:first-child {
      margin: 10px 5px 10px 5px; }
      .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-item:first-child:before {
        left: 0px; }
    .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-item:not(:first-child) {
      width: calc((100% / 3) - 23px); }
  .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-actions {
    display: inline-block;
    text-align: right;
    width: calc(100% - 20px); }
    .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-actions button {
      width: calc((100% / 3) - 23px); } }
@media only screen and (max-width: 500px) {
  .cern-view-display-page.view-general-search form.views-exposed-form .form-inline {
    margin: 0; }
    .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-item:first-child > input {
      width: 100%; }
    .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-item:first-child:before {
      left: -5px; }
    .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-item:not(:first-child), .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-item:first-child {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      display: block; }
    .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-actions {
      display: block;
      width: 100%;
      margin: 0px; }
      .cern-view-display-page.view-general-search form.views-exposed-form .form-inline .form-actions button {
        width: auto; } }
.cern-view-display-page.view-general-search .view-content .views-row {
  margin: 0 0 25px 0; }

@media only screen and (max-width: 767px) {
  .cern-view-display-page.view-general-search .view-header {
    margin-bottom: 25px; }

  .cern-view-display-page.view-general-search .view-content {
    margin: 0; }
    .cern-view-display-page.view-general-search .view-content .views-row {
      margin: 0 0 16px 0 !important; }
      .cern-view-display-page.view-general-search .view-content .views-row .views-field .field-content {
        display: block; }
        .cern-view-display-page.view-general-search .view-content .views-row .views-field .field-content .box-pattern {
          float: none !important; }
      .cern-view-display-page.view-general-search .view-content .views-row .agenda-box-pattern {
        background: transparent;
        padding: 30px 30px 30px 30px;
        border: 1px solid #ddd; }
        .cern-view-display-page.view-general-search .view-content .views-row .agenda-box-pattern .agenda-box-link h2 a:before,
        .cern-view-display-page.view-general-search .view-content .views-row .agenda-box-pattern .agenda-box-link h3 a:before {
          content: unset; }
        .cern-view-display-page.view-general-search .view-content .views-row .agenda-box-pattern .agenda-box-pattern__box-wrapper {
          align-self: flex-start; }
        .cern-view-display-page.view-general-search .view-content .views-row .agenda-box-pattern .agenda-box-cal-button {
          border-radius: 0;
          display: none; }
          .cern-view-display-page.view-general-search .view-content .views-row .agenda-box-pattern .agenda-box-cal-button a.btn {
            border-radius: 0;
            padding: 2px; }
            .cern-view-display-page.view-general-search .view-content .views-row .agenda-box-pattern .agenda-box-cal-button a.btn:before {
              left: 2px; }
        .cern-view-display-page.view-general-search .view-content .views-row .agenda-box-pattern .agenda-box-pattern__box-wrapper .agenda-box-cal-wrapper {
          padding-right: 5px; }
        .cern-view-display-page.view-general-search .view-content .views-row .agenda-box-pattern .agenda-box-week-day,
        .cern-view-display-page.view-general-search .view-content .views-row .agenda-box-pattern .agenda-box-content-type,
        .cern-view-display-page.view-general-search .view-content .views-row .agenda-box-pattern .agenda-box-audience,
        .cern-view-display-page.view-general-search .view-content .views-row .agenda-box-pattern .agenda-box-place {
          font-family: "sourcesans-regular";
          font-size: 1.5rem; }
          .cern-view-display-page.view-general-search .view-content .views-row .agenda-box-pattern .agenda-box-week-day *,
          .cern-view-display-page.view-general-search .view-content .views-row .agenda-box-pattern .agenda-box-content-type *,
          .cern-view-display-page.view-general-search .view-content .views-row .agenda-box-pattern .agenda-box-audience *,
          .cern-view-display-page.view-general-search .view-content .views-row .agenda-box-pattern .agenda-box-place * {
            font-family: "sourcesans-regular";
            font-size: 1.5rem; }
      .cern-view-display-page.view-general-search .view-content .views-row .agenda-box-pattern .agenda-box-pattern__box-wrapper .agenda-box-cal-wrapper .agenda-box-cal-button {
        background: transparent; }
      .cern-view-display-page.view-general-search .view-content .views-row .preview-list-component {
        display: none !important; } }
@media only screen and (min-width: 768px) {
  .cern-view-display-page.view-general-search .view-content .views-row .box-pattern {
    display: none !important; }
  .cern-view-display-page.view-general-search .view-content .views-row .preview-list-component .preview-list-news-info .preview-list-title {
    margin-top: -5px; } }
