{#
 * @file
 * News Full Content Display Pattern Twig.
#}

{% set id_url_format = '/news?type=' ~ format_id | render | striptags %}
{% set id_url_format_topic = id_url_format ~ '&topic=' ~ topic_id | render | striptags %}

{# First breadcrumbs #}
<div class="row mt-2">
  <div class="col-md-12 news-node-full-content-first-breadcrumbs">
    <a href="/news">
      {{ 'News'|trans }}
    </a>
    <a href="{{id_url_format}}">
      {{ news_format }}
    </a>
    {% if topic|render|striptags is not empty  %}
    <a href="{{id_url_format_topic}}">
      {{'Topic: '|trans}}
      {{ topic|render|striptags }}
    </a>
    {% endif %}
  </div>
  <div class="col-md-12">
    <hr class="news-page-hr-separator"/>
  </div>
</div>

{# Main content #}
<div class="row news-node-center-content clearfix">

  <div class="col-md-12 news-node-full-content-left">
    {# Second breadcrumbs #}
    {#  <div class="news-node-full-content-second-breadcrumbs">
      {{ news_format|render|striptags }}
      {{ topic }}
    </div> #}

    {# Language #}
    {% if language|get_language_message %}
      <div class="news-node-full-content-view-language mt-1 mb-1">
        {{ language|get_language_message }}
      </div>
    {% endif %}

    {# Title field #}
    {% if title | render %}
      <h1 class="news-node-full-content-title mt-0">
        {{ title }}
      </h1>
    {% endif %}

    {# Strap field #}
    {% if strap | render %}
      <p class="news-node-full-content-strap">
        {{ strap }}
      </p>
    {% endif %}

    {# Created date field and Author field #}
    {% if publication_date | render or author | render %}
      <div class="news-node-full-content-created-date-author">
        {# Publication date field #}
        {% if publication_date | render %}
          <p class="news-node-full-content-created_date">
            {{ publication_date|format_date_field('custom', 'j F') }},
            {{ publication_date|format_date_field('custom', 'Y') }}
          </p>
        {% endif %}
        {% if publication_date | render and author | render %}
          <p class="news-node-full-content-pipe ml-1 mr-1">
            |
          </p>
        {% endif %}
        {# Author field #}
        {% if author | render %}
          <p class="news-node-full-content-author">
            {{'By'|trans}}
            {{ author }}
          </p>
        {% endif %}
      </div>
    {% endif %}

    {# Image field #}
    {% if image %}
      <div class="news-node-full-content-image mt-3">
        {{ image|render }}
      </div>
      {% if caption | render %}
        <p class="news-node-full-content-caption cern-caption">
          <caption>
            {{ caption }}
          </caption>
        </p>
      {% endif %}
    {% endif %}

    {# Body field #}
    {% set margin_body_class = '' %}
    {% if margin_body | render %}
      {% set margin_body_class = margin_body | render.__toString() %}
    {% endif %}
    {% if body | render %}
      <div class="news-node-full-content-body {{ margin_body_class }}  clearfix full-html-markup full-text-animation">
        {{ body }}
      </div>
    {% endif %}

    {# Component field #}
    {% if component | render %}
      <div class="news-node-full-content-component {{ margin_body_class }}">
        {{ component }}
      </div>
    {% endif %}

    {# Files field #}
    {% if file | render %}
      <div class="news-node-full-content-file mt-4 {{ margin_body_class }}">
        {{ file|render }}
      </div>
    {% endif %}

    {# Tags field #}
    {% if tags | render %}
      <div class="news-node-full-content-tags {{ margin_body_class }}">
        {{ tags }}
      </div>
    {% endif %}

    {# Left content #}
    {# <div class="news-node-left-content-social-icons" > 
      {{ drupal_block('social_sharing_block') }}
    </div>   #}
  </div>

  {#   <div class="col-md-4 news-node-full-content-right">
    {# Other events view field # }
    {# Also on view field # }
    <div class="row news-node-full-content-also-on-view">
      <h2>Also on Antimatter</h2>
      <div class="col-md-12">
      </div>
      <div class="col-md-12">
      </div>
      <div class="col-md-12">
      </div>
    </div>
  </div> #}
</div>

{# Full Width Content #}
{# <div class="row news-node-full-content-full-width mb-4 mt-4">
  <div class="col-md-12 news-node-full-content-latest-news">
    <div class="event-node-full-content-other-event">
      {{ drupal_block('views_block:news-latest_news') }}
    </div>
  </div>
</div>
 #}
