{#
/**
 * @file
 * Theme override for language block select.
 *
 */
#}

{% if links %}
	<div id="language" class="wrapper-language">
    <span>Show</span>
		<ul class="wrapper-language__dropdown">
			{% for item in links %}
				<li {{ item.attributes }}>
					{{ item.link }}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}