iframe.cern-timeline {
  border: 0;
  min-height: 850px !important;
  width: 100%; }

@media only screen and (max-width: 1336px) {
  iframe.cern-timeline {
    min-height: 850px !important; } }

@media only screen and (max-width: 915px) {
  iframe.cern-timeline {
    min-height: 850px !important; } }
.component-row__display__centered iframe.cern-timeline {
  width: calc(100% - 9px);
  margin: auto;
  display: block; }
.component-row__display__fluidcenter iframe.cern-timeline {
  width: calc(100% - 9px);
  margin: auto;
  display: block; }
