/* FAQ PAGE */
.view-faq .view-content {
  margin-top: 3rem; }
.view-faq .faq-list-content {
  margin-top: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c1c1c1; }
  .view-faq .faq-list-content .faq-list-content-title {
    position: relative; }
    .view-faq .faq-list-content .faq-list-content-title h2 {
      margin: 5px;
      padding: 0;
      font-size: 18px;
      line-height: 25px;
      width: calc(100% - 60px);
      display: inline-block; }
      .view-faq .faq-list-content .faq-list-content-title h2 a {
        color: #222;
        letter-spacing: 0.3px; }
        .view-faq .faq-list-content .faq-list-content-title h2 ahover, .view-faq .faq-list-content .faq-list-content-title h2 afocus, .view-faq .faq-list-content .faq-list-content-title h2 aselected {
          color: #222;
          text-decoration: none; }
    .view-faq .faq-list-content .faq-list-content-title span {
      width: 30px;
      margin: 5px;
      padding: 0;
      font-size: 30px;
      line-height: 26px;
      color: #222;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0; }
  .view-faq .faq-list-content .faq-list-content-body {
    margin: 5px;
    color: #555;
    padding-right: 50px; }
    .view-faq .faq-list-content .faq-list-content-body h1, .view-faq .faq-list-content .faq-list-content-body h2, .view-faq .faq-list-content .faq-list-content-body h3, .view-faq .faq-list-content .faq-list-content-body h4, .view-faq .faq-list-content .faq-list-content-body h5 {
      font-size: 1.6rem;
      font-weight: bold; }
