@font-face {
  font-family: "sourcesans-regular";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.svg#sourcesans-regular") format("svg"); }

@font-face {
  font-family: "sourcesans-semibold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.svg#sourcesans-semibold") format("svg"); }

@font-face {
  font-family: "sourcesans-bold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.svg#sourcesans-bold") format("svg"); }

@font-face {
  font-family: "sourcesans-light";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.svg#sourcesans-light") format("svg"); }

@font-face {
  font-family: "opensans-regular";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.svg#opensans-regular") format("svg"); }

@font-face {
  font-family: "opensans-semibold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.svg#opensans-semibold") format("svg"); }

@font-face {
  font-family: "opensans-bold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.svg#opensans-bold") format("svg"); }

@font-face {
  font-family: "cern-icons";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.svg#cern-icons") format("svg"); }

.view-cern-next-event.view-id-cern_next_event > h1 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-bottom: 0; }

.agenda-coming-soon .agenda-coming-soon-date h2 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-top: 10px; }

.agenda-coming-soon .agenda-coming-soon-link h3 {
  text-align: center;
  margin-top: 0;
  font-size: 28px;
  font-family: sourcesans-light;
  /* font-weight: 600;   */ }
  .agenda-coming-soon .agenda-coming-soon-link h3 a,
  .agenda-coming-soon .agenda-coming-soon-link h3 a:active,
  .agenda-coming-soon .agenda-coming-soon-link h3 a:focus,
  .agenda-coming-soon .agenda-coming-soon-link h3 a:hover {
    color: white; }

.agenda-coming-soon h4.agenda-coming-soon-place {
  text-align: center;
  color: white;
  font-size: 22px;
  font-family: sourcesans-light;
  /* font-weight: 600;   */ }

.agenda-coming-soon .agenda-coming-soon-countdown ul {
  text-align: center;
  width: 600px;
  margin: 30px auto;
  list-style: none;
  padding: 0; }
  .agenda-coming-soon .agenda-coming-soon-countdown ul li {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    width: calc(25% - 5px); }
    .agenda-coming-soon .agenda-coming-soon-countdown ul li:not(.last) {
      content: ' ';
      border-right: 3px solid white; }
    .agenda-coming-soon .agenda-coming-soon-countdown ul li h1 {
      text-align: center;
      margin-top: 0;
      color: white; }
    .agenda-coming-soon .agenda-coming-soon-countdown ul li h4 {
      text-align: center;
      margin-bottom: 0;
      color: white; }

@media only screen and (max-width: 767px) {
  .agenda-coming-soon .agenda-coming-soon-countdown ul {
    width: 100%; }
  .agenda-coming-soon-countdown ul li h1 {
    font-size: 36px; }
  .agenda-coming-soon-countdown ul li h4 {
    font-size: 15px; } }
