// variables & mixings
@import 'variables';
// fonts
@font-face {
  font-family: "sourcesans-regular";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.svg#sourcesans-regular") format("svg");
}

@font-face {
  font-family: "sourcesans-semibold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.svg#sourcesans-semibold") format("svg");
}

@font-face {
  font-family: "sourcesans-bold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.svg#sourcesans-bold") format("svg");
}

@font-face {
  font-family: "sourcesans-light";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.svg#sourcesans-light") format("svg");
}

@font-face {
  font-family: "opensans-regular";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.svg#opensans-regular") format("svg");
}

@font-face {
  font-family: "opensans-semibold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.svg#opensans-semibold") format("svg");
}

@font-face {
  font-family: "opensans-bold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.svg#opensans-bold") format("svg");
}

@font-face {
  font-family: "cern-icons";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.svg#cern-icons") format("svg");
}

//
//* ****************************************** component event */
/* @media only screen and (max-width: 991px) {
  .component-event {
      padding: 0 3%;
  }
} */

.component-event {
  //margin: 0 3%;
  .component-event-antetitle {
    // font-family: 'Source Sans Pro', sans-serif;
    /* font-family: 'sourcesans-regular'; */
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
  }
  .component-event-calendar {
    .component-event-box1 {
      display: inline-block;
      width: 48%;
      .component-event-dates {
        span.component-event-dates-1 {
          font-family: 'sourcesans-bold';
          font-size: 48px;
          line-height: 45px;
          text-transform: uppercase;
        }
        span.component-event-dates-2 {
          font-family: 'sourcesans-light';
          font-size: 48px;
          line-height: 45px;
          text-transform: uppercase;
          vertical-align: 1px;
        }
      }
      .component-event-time {
        // font-family: 'Source Sans Pro', sans-serif;
        // font-weight: 700;
        font-family: 'sourcesans-bold';
        font-size: 18px;
        letter-spacing: 0.2px;
        span {
          // font-family: 'Source Sans Pro', sans-serif;
          // font-weight: 400;
          font-family: 'sourcesans-regular';
        }
      }
    }
    .component-event-box2 {
      display: inline-block;
      width: 51%;
      text-align: right;
      .component-event-button {
        // font-family: 'Source Sans Pro', sans-serif;
        // font-weight: 700;
        font-family: 'sourcesans-bold';
        border: 2px solid $link-color;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        color: $link-color;
        display: inline-block;
        position: relative;
        top: -17px;
        cursor: pointer;
        a {
          display: block;
          padding: 8px 10px 0 35px;
          position: relative;
          &::before {
            @include font-size(3.3);
            font-family: "cern-icons";
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            content: '\h';
            display: inline-block;
            position: absolute;
            top: 2px;
            left: 3px;
            line-height: 25px;
            width: 22px;
            text-indent: -5px;
          }
        }
        span {
          display: inline-block;
          position: relative;
          top: -5px;
        }
      }
    }
    @media screen and (max-width:767px) {
      .component-event-box1 {
        width: 100%;
        float: left;
      }
      .component-event-box2 {
        width: 100%;
        float: left;
        text-align: left;
        .component-event-button {
          margin: 20px 0;
          top: 0;
        }
      }
    }
  }
  .component-event-title {
    /* @extend %box-title; */
  }
  .component-event-content {
    .component-event-list {
      padding-left: 0;
      .component-event-item {
        // ul {
        //   margin-left: 22px;
        //   padding-left: 0;
        //   margin-bottom: 15px;
        //   li {
        //     list-style-type: none;
        //     margin-bottom: 10px;
        //     position: relative;
        //     &:before {
        //       @include font-size(5.0);
        //       font-family: "cern-icons";
        //       content: '\j';
        //       display: inline-block;
        //       position: absolute;
        //       top: -3px;
        //       left: -15px;
        //       line-height: 24px;
        //       text-indent: -25px;
        //       color: rgba(0, 0, 0, 0.2);
        //     }
        //     a {
        //       color: $link-color;
        //       text-decoration: underline;
        //       border-bottom: 0;
        //     }
        //   }
        // }
        // display: block;
        // /* font-family: 'sourcesans-regular'; */
        // margin-top: 20px;
        // font-size: 16px;
        // display: block;
        // line-height:26px;
        // margin-bottom: 15px;
        // line-height: 18px;
        // p {
        //   /* font-family: 'sourcesans-regular'; */
        //   a {
        //     color: $link-color;
        //     text-decoration: underline;
        //     border-bottom: 0;
        //   }
        // }
      }
    }
  }
}
