.cern-view-display-page .view-content {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px; }
  .cern-view-display-page .view-content h1,
  .cern-view-display-page .view-content h2,
  .cern-view-display-page .view-content h3,
  .cern-view-display-page .view-content h4 {
    margin: 0; }
  .cern-view-display-page .view-content a {
    font-size: 30px;
    font-size: 3rem;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    line-height: 36px;
    margin: 0; }
    .cern-view-display-page .view-content a * {
      font-size: 30px;
      font-size: 3rem;
      line-height: 36px;
      margin: 0; }
