.wrapper-center {
  padding: 0 3%; }

.sidebar-left,
.sidebar-right {
  margin: 30px 0 0; }

.page-node-type-landing-page .wrapper-center {
  padding: 0; }
  .page-node-type-landing-page .wrapper-center.col-md-9, .page-node-type-landing-page .wrapper-center.col-md-6 {
    width: 100%; }
.page-node-type-landing-page .sidebar-left,
.page-node-type-landing-page .sidebar-right {
  display: none; }

@media only screen and (max-width: 991px) {
  .sidebar-left,
  .sidebar-right {
    padding: 0 3%; } }
main .block-language {
  padding: 0 0 5px; }
  main .block-language > .links {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -khtml-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -o-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    display: block;
    margin: 0 0 0 10px;
    padding: 0;
    float: right;
    position: static; }
    main .block-language > .links > li {
      float: left;
      list-style-type: none;
      margin-bottom: -1px;
      margin: 0;
      padding: 4px; }
    main .block-language > .links > li > a {
      margin-right: 2px;
      line-height: 1.428571429;
      border: 1px solid transparent;
      border-radius: 0;
      padding: 0 5px; }
    main .block-language > .links:before {
      display: none; }

.has-header main .block-language {
  position: absolute !important;
  top: 100vh;
  margin: auto;
  max-width: 1100px;
  width: 100%;
  z-index: 10;
  right: 0;
  left: 0;
  padding: 5px 10px; }
.has-header.toolbar-fixed main .block-language {
  top: calc(100vh - 39px); }
.has-header.toolbar-fixed.toolbar-vertical main .block-language {
  top: calc(100vh - 39px); }
.has-header.toolbar-fixed.toolbar-tray-open:not(.toolbar-vertical) main .block-language {
  top: calc(100vh - 78px); }
.has-header.cern-toolbar main .block-language {
  top: calc(100vh - 40px); }
.has-header.cern-toolbar.toolbar-fixed main .block-language {
  top: calc(100vh - 79px); }
.has-header.cern-toolbar.toolbar-fixed.toolbar-vertical main .block-language {
  top: calc(100vh - 79px); }
.has-header.cern-toolbar.toolbar-tray-open:not(.toolbar-vertical) main .block-language {
  top: calc(100vh - 118px); }

.footer-last-logo {
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  -webkit-opacity: 0.6;
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  -ms-opacity: 0.6;
  -o-opacity: 0.6;
  opacity: 0.6; }

@media only screen and (max-width: 767px) {
  body > footer .footer-last-logo {
    margin: auto;
    float: none;
    min-width: 60px; } }
@media only screen and (max-width: 1140px) {
  body > footer {
    padding: 55px 3%; } }
@media only screen and (max-width: 980px) {
  body > footer {
    padding: 3%; }

  .footer-wrapper div[class*="footercolumn1"],
  .footer-wrapper div[class*="footercolumn2"],
  .footer-wrapper div[class*="footercolumn3"],
  .footer-wrapper div[class*="footercolumn4"] {
    margin: 0 0 20px;
    width: 100%; }
    .footer-wrapper div[class*="footercolumn1"]:after,
    .footer-wrapper div[class*="footercolumn2"]:after,
    .footer-wrapper div[class*="footercolumn3"]:after,
    .footer-wrapper div[class*="footercolumn4"]:after {
      display: none; }

  body > footer .field--name-field-visible-title:after,
  body > footer nav > h2:after {
    width: 100%; } }
